@model Employment

@section Banner {
    <div class="jumbotron jumbotron-fluid jumbotron-blue">
        <div class="container">
            <h1 class="display-4">Knowledge is Power</h1>
            <p class="lead">We offer you the tools and education you need to succeed.</p>
        </div>
    </div>
}

@section SideNav {
    <p class="lead">Loan Application Progress</p>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" disabled>Loan Info</button>
        <button type="button" class="list-group-item list-group-item-action active">Employment Info</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>Personal Info</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>Confirmation</button>
    </div>
}

<h2>Employment Info</h2>
<p>Please provide information about your employment.</p>
<form method="post" asp-controller="Loan" asp-action="Employment">
    <hr class="featurette-divider-thin">

    <div class="form-group">
        <label>Current Employment Type</label>
        <select asp-for="CurrentType" class="form-control">
            <option val="Full Time">Full Time</option>
            <option val="Part Time">Part Time</option>
            <option val="Variable">Variable</option>
            <option val="Unemployed">Unemployed</option>
        </select>
    </div>
    <div class="form-group">
        <label>Current Employer</label>
        <input asp-for="CurrentEmployerName" type="text" class="form-control" placeholder="Employer Name">
    </div>
    <div class="form-group">
        <label>Current Annual Income</label>
        <input asp-for="CurrentAnnualIncome" type="text" class="form-control" placeholder="Annual Income">
    </div>
    <div class="form-group">
        <label>Length of Time at Current Employer</label>
        <select id="employmentLength" asp-for="CurrentDuration" class="form-control">
            <option value="1">Select</option>
            <option value="1">Less Than 2 Years</option>
            <option value="3">2-5 Years</option>
            <option value="5">5+ Years</option>
        </select>
    </div>


    <!-- If less than 2 years -->
    <div id="previousEmployment" style="display: none">
        <hr class="featurette-divider-thin">
        <h2>Previous Employment</h2>
        <div class="form-group">
            <label>Previous Employment Type</label>
            <select asp-for="PreviousType" class="form-control">
                <option>Full Time</option>
                <option>Part Time</option>
                <option>Variable</option>
                <option>Unemployed</option>
            </select>
        </div>
        <div class="form-group">
            <label>Previous Employer</label>
            <input asp-for="PreviousEmployerName" type="text" class="form-control" placeholder="Employer Name">
        </div>
        <div class="form-group">
            <label>Previous Annual Income</label>
            <input asp-for="PreviousAnnualIncome" type="text" class="form-control" placeholder="Annual Income">
        </div>
        <div class="form-group">
            <label>Length of Time at Previous Employer</label>
            <input asp-for="PreviousDuration" type="text" class="form-control" placeholder="Employment Duration">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary float-right">Submit</button>
    </div>
</form>
