@model LoanApplication

@section Banner {
    <div class="jumbotron jumbotron-fluid jumbotron-blue">
        <div class="container">
            <h1 class="display-4">Confirmation</h1>
            <p class="lead">Your loan is just a click away.</p>
        </div>
    </div>
}

@section SideNav {
    <p class="lead">Loan Application Progress</p>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" disabled>Loan Info</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>Employment Info</button>
        <button type="button" class="list-group-item list-group-item-action">Personal Info</button>
        <button type="button" class="list-group-item list-group-item-action active" disabled>Confirmation</button>
    </div>
}
<h2>Success!</h2>
<hr class="featurette-divider-thin">
<p class="lead">You're almost there</p>

<p>Your loan application has been processed successfully.  You should hear from us by email within 24 hours.</p>