@section Banner {
    <div class="jumbotron jumbotron-fluid jumbotron-blue">
        <div class="container">
            <h1 class="display-4">Life Insurance.</h1>
            <p class="lead">Take care of the ones you love even after you've gone.</p>
        </div>
    </div>
}

@section SideNav {
    @Html.Partial("LeftNav")
}

<p>After you complete this form you should receive an email with your quote shortly after. Please allow up to 1 hour to receive your quote.</p>
<form>
    <hr class="featurette-divider-thin">

    <div class="form-group">
        <label for="exampleFormControlInput1">Coverage Amount</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Coverage Amount">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Employment Type</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Full Time</option>
            <option>Part Time</option>
            <option>Contract</option>
            <option>Other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Annual Income</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Annual Income">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Occupation</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Occupation">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Age</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Age">
    </div>

    @Html.Partial("Person")
</form>
