@section Banner {
    <div class="jumbotron jumbotron-fluid jumbotron-blue">
        <div class="container">
            <h1 class="display-4">Under Construction</h1>
            <p class="lead">Content Coming Soon.</p>
        </div>
    </div>
}