@model List<Rate>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Mortgage Rates</h3>
        <p class="card-text">The lowest rates - guaranteed.</p>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var mortRate in Model)
        {
            <li class="list-group-item">@mortRate.Title: @mortRate.Value%</li>
        }
    </ul>
    <div class="card-body">
        <p>Yes, we do 0% down mortgages.</p>
        <a href="#" class="card-link">Learn More</a>
    </div>
</div>