<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" asp-action="index" asp-controller="insurance">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="quote" asp-controller="auto">Auto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="quote" asp-controller="property">Property</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="life">Disability</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="quote" asp-controller="rent">Rent</a>
    </li>
</ul>
