@model Person

<hr class="featurette-divider-thin">

<div class="form-group">
    <label for="exampleFormControlInput1">First Name</label>
    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">Last Name</label>
    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">Date of Birth</label>
    <input asp-for="Dob" type="text" class="form-control" placeholder="Date of Birth">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input asp-for="Email" type="text" class="form-control" placeholder="Email">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">Phone</label>
    <input asp-for="Phone" type="text" class="form-control" placeholder="Phone">
</div>

<hr class="featurette-divider-thin">

<div class="form-group">
    <label for="Address">Address</label>
    <input asp-for="Street" type="text" class="form-control" placeholder="Address">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">City</label>
    <input asp-for="City" type="text" class="form-control" placeholder="City">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">State</label>
    <input asp-for="State" type="text" class="form-control" placeholder="State">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">Zip</label>
    <input asp-for="Zip" type="text" class="form-control" placeholder="Zip">
</div>