<div class="container marketing">
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">It seems you're mobile!</h1>
            <p class="lead">Try downloading our new app from the play store.</p>
            <hr class="my-4">
            <p>It makes it easier than ever to manage your finances.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Let's go!</a>
        </div>
    </div>
</div>