@model AutoQuote

@section Banner {
    <div class="jumbotron jumbotron-fluid jumbotron-blue">
        <div class="container">
            <h1 class="display-4">Thank you!</h1>
            <p class="lead">You should receive an email shortly with your quote.</p>
        </div>
    </div>
}

<p>In the mean time, check out some of our other services!</p>