@section Banner {
    <div class="jumbotron jumbotron-fluid jumbotron-blue">
        <div class="container">
            <h1 class="display-4">Under Construction</h1>
            <p class="lead">Mortgage Lending content coming soon...</p>
            <br />
            <h3>Take a moment to fill out this form, and you could win big!</h3>
            <form asp-action="inquiry" asp-controller="insurance">
                <div class="form-group">
                    <label>Name*</label>
                    <input type="text" class="form-control" placeholder="Name" />
                </div>
                <div class="form-group">
                    <label>Email*</label>
                    <input type="text" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label>Date of Birth*</label>
                    <input type="text" class="form-control" placeholder="Date of Birth" />
                </div>
            </form>

        </div>
    </div>
}